<a href="https://colab.research.google.com/github/LuguiM/Programacion-Computacional-3/blob/main/introduccion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo, bienvenidos a programacion computacional III, Jose Luis ")

Hola Mundo, bienvenidos a programacion computacional III, Jose Luis

In [ ]:
nombre = "Luis Muñoz"
print("Hola",nombre)

nombre = 19
print("Tu edad es", nombre)

Hola Luis Muñoz
Tu edad es 19

In [ ]:
numeros = [1,2,3,4,5,6]

In [ ]:
#conversosr de celsius a f
def conversorf(c):
  return c*9/5+32

In [ ]:
c = float(input("Grados C: "))
print("G. c a F",conversorf(c))

Grados C: 27
G. c a F 80.6

In [ ]:
celcius = lambda c: c*9/5+32
c = int(input("Grados celcius a convertir"))
print("G c a F", celcius(c))

Grados celcius a convertir27
G c a F 80.6

In [ ]:
gradosc = [27,30,35,40,45]
gradosf = lambda c: c*1.8+32
f = list(map(gradosf,gradosc))
print(f)

[80.6, 86.0, 95.0, 104.0, 113.0]

In [ ]:
gradosf = [80.6,86.0,95.0,104.0,113.0]
gradosc = lambda f: (f - 32) * 5/9
c = list(map(gradosc,gradosf))
print(c)

[26.999999999999996, 30.0, 35.0, 40.0, 45.0]

In [ ]:
#Tarea: Hacer un algoritmo en python que convierta de celcius a kelvin y viceversa

In [ ]:
gradosCelcius = lambda gC: gC+273.15
gC = float(input("Grados celcius a convertir "))
print("Celcius a Kelvin: ", gradosCelcius(gC))

Grados celcius a convertir 27
Celcius a Kelvin:  300.15

In [ ]:
gradosKelvin = lambda gK: gK-273.15
gK = float(input("Grados Kelvin a convertir "))
print("Kelvin a Celcius: ", gradosKelvin(gK))

Grados Kelvin a convertir 300.15
Kelvin a Celcius:  27.0

In [ ]:
#Tarea Finalizada

In [ ]:
numeros = [5,7,9,6,8,7,3]

In [ ]:
print("Lista original ", " Buscando : ", numeros[numeros.index(9)])

Lista original   Buscando :  1

In [ ]:
edades = (2,5,12,18,65,100) #Una tupla es inmtable y no se puede cambiar el valor
print("Las Edades: ", edades)

Las Edades:  (2, 5, 12, 18, 65, 100)

In [ ]:
print("edades: ", edades, "filtarar solo mayores de edadad ", tuple(filter(lambda num: num>=18, edades)))

edades:  (2, 5, 12, 18, 65, 100) filtarar solo mayores de edadad  (18, 65, 100)

In [ ]:
buscando = int(input("valor: "))
print("edades: ", edades, "buscando el numero ",buscando, "esta en la posicion: ", edades.index(buscando))

valor: 5
edades:  (2, 5, 12, 18, 65, 100) buscando el numero  5 esta en la posicion:  1

In [ ]:
notas = [5,4,10,7.8,9,10]
print("Mis notas: ", notas, "notas sobresalientes: ", list(filter(lambda n:n>=9, notas)))

Mis notas:  [5, 4, 10, 7.8, 9, 10] notas sobresalientes:  [10, 9, 10]

In [ ]:
notasCiclo =[
    [5,6,6],
    [8,7,10],
    [10,10,10]
]
print("Mis notas, ", notasCiclo, "C1: ",notasCiclo[0], "c2: ", notasCiclo[1], "c3: ", notasCiclo[2], "PC1: ", notasCiclo[0][2])

Mis notas,  [[5, 6, 6], [8, 7, 10], [10, 10, 10]] C1:  [5, 6, 6] c2:  [8, 7, 10] c3:  [10, 10, 10] PC1:  6

In [ ]:
materias = [
    [
      [5,6,6],
     [5,7,8],
     [6,7,6]
    ],
    [
        [10,9,10],
     [10,10,8],
     [10,10,10]
    ],
    [
    [8,7,8],
     [7,9,9],
     [8,7,9]
    ]
]
print("Progra C1 - P: ", materias[0][0][2], "Redes C2, lab2: ", materias[2][1][1])

Progra C1 - P:  6 Redes C2, lab2:  9

In [ ]:
misMateris = {}
misNotas = {
    "Progra 1":{
        "C1":{
            "lab 1":6,
             "lab2":6,
             "parcial": [10,8]
        },
        "C2":{
            "lab 1":6,
             "lab2":6,
             "parcial": [10,8]
        },
        "C3":{
            "lab 1":6,
             "lab2":6,
             "parcial": [10,8]
        }

    },
     "Base":{
        "C1":{
            "lab 1":6,
             "lab2":6,
             "parcial": [10,8]
        },
        "C2":{
            "lab 1":6,
             "lab2":6,
             "parcial": [10,8]
        },
        "C3":{
            "lab 1":6,
             "lab2":6,
             "parcial": [10,8]
        }

    }
}
print(misNotas["Progra 1"]["C1"]["paracial"])

{'Progra 1': {'C1': {'lab 1': 6, 'lab2': 6, 'parcial': [10, 8]}}}

Conversor de Monedas

In [ ]:

quetzal = 7.75
lempira = 24.66
pesoMex = 19.88
pesoCol = 4249.81
cordoba = 35.99

conversiones = ["1.quetzal", "2.lempira", "3.pesoMexicano", "4.PesoColombiano", "5.Cordobas"]


def converson():   
  print("Escoja entre las opciones")
  print("Tipo de Conversiones", conversiones)
  pregunta = int(input("Seleccione el numero de la moneda a convertir "))

  if pregunta == 1:
    quetzalC = float(input("Ingrese la Cantidad a converir: "))
    converQ = quetzal * quetzalC
    print("La conversion de quetzales a dolares es: ", converQ)

  elif pregunta == 2:
    lempiraC = float(input("Ingrese la cantidad a convertir(L): " ))
    converL = lempira * lempiraC
    print("La conversion de lempiras a dolares es: ", converL)

  elif pregunta == 3:
    pesoMxC = float(input("Ingrese la cantidad a convertir(M): " ))
    converPM = pesoMex * pesoMxC
    print("La conversion de lempiras a dolares es: ", converPM)

  elif pregunta == 4:
    pesoC = float(input("Ingrese la cantidad a convertir(Col): " ))
    converPcol = pesoCol * pesoC
    print("La conversion de lempiras a dolares es: ", converPcol)

  elif pregunta == 5:
    cordovaC = float(input("Ingrese la cantidad a convertir(c): " ))
    converC = cordoba * cordovaC
    print("La conversion de lempiras a dolares es: ", converC)

 
  else:
      print("Escoja un numero de la seleccion")

  return

converson()
opcion = 1

while opcion == int(input("Dijite 1 para hacer otra conversion y 2 para salir")):
  converson()
  
else:
    print("adios")

Escoja entre las opciones
Tipo de Conversiones ['1.quetzal', '2.lempira', '3.pesoMexicano', '4.PesoColombiano', '5.Cordobas']
Seleccione el numero de la moneda a convertir 1
Ingrese la Cantidad a converir: 1
La conversion de quetzales a dolares es:  7.75
Dijite 1 para hacer otra conversion y 2 para salir1
Escoja entre las opciones
Tipo de Conversiones ['1.quetzal', '2.lempira', '3.pesoMexicano', '4.PesoColombiano', '5.Cordobas']
Seleccione el numero de la moneda a convertir 2
Ingrese la cantidad a convertir(L): 2
La conversion de lempiras a dolares es:  49.32
Dijite 1 para hacer otra conversion y 2 para salir2
adions

Conversion divisa parte 2
Dolares,quetzales, lempiras, cordobas,pesos cr, euros,colon sv, yenes, soles peruanos

CONVERSIONES

In [ ]:
divisas = ["Seleccione una divisa", "dolares","quetazles","lempiras","cordobas","pesos cr","euros","colon sv","yenes","soles peruanos,pesos colombianos"]

valores = [0,1,7.71,24.51,35.77,664.64,0.98,8.71,134.13,3.84,4249.81]

In [ ]:
def covertir(de,a,cantidad):
  return valores[a]/valores[de]*cantidad

#puede convertir volumes unidades de medidad como el sistema de una calculadora

In [ ]:
print("***MENU***")
print("1-Dolares")
print("2-Quetzales")
print("3-Lempiras")
print("4-Cordobas")
print("5-Pesos CR")
print("6-Euros")
print("7-Colon SV")
print("8-Yenes")
print("9-Soles Peruanos")
print("10-Pesos Colombianos")

***MENU***
1-Dolares
2-Quetzales
3-Lempiras
4-Cordobas
5-Pesos CR
6-Euros
7-Colon SV
8-Yenes
9-Soles Peruanos

In [ ]:
de = int(input("DE:"))
a = int(input("A:"))
cantidad = float(input("Cantidad: "))

print(divisas[de], "a ", divisas[a], "es: ", covertir(de,a,cantidad))

DE:6
A:2
Cantidad: 10
euros a  quetazles es:  78.6734693877551

Ejercicios prácticos en Python

In [ ]:
#Calcular sobre el sueldo las deducciones por ley ISSS (3%), AFP( 6.25%), ISR(Según tabla) e imprima el total deducciones y sueldo neto. (20%)

sueldo = float(input("Ingrese su sueldo: "))
descuentos = [3,6.25,27]

isss = (sueldo*descuentos[0])/100
afp = (sueldo*descuentos[1])/100
isr = (sueldo*descuentos[2])/100
totaldeduciones = isss+afp+isr
total = sueldo-totaldeduciones
print("**DEDUCCIONES**")
print("ISSS: ",isss)
print("AFP: ",afp)
print("ISR: ",isr)
print("**SUELDO TOTAL**")
print("Sueldo Neto: ", total)

Ingrese su sueldo: 350
**DEDUCCIONES**
ISSS:  10.5
AFP:  21.875
ISR:  94.5
**SUELDO TOTAL**
Sueldo Neto:  223.125

In [ ]:
#Calcular el valor a pagar según el número de metros consumidos de agua potable

consumo = int(input("Dijite el valor de consumo del agua:  "))
tarfaFija = 6

if consumo <= 18:
  print("Su Tarifa es: $",tarfaFija)
elif consumo >= 19:
  total = (consumo - 18)*0.45+tarfaFija
  print("Su tarifa es: $",total)
elif consumo >= 29:
  total2 = (consumo - 28)*0.65+tarfaFija
  print("Su tarifa es: $",total2)
else:
  print("Dijitos no validos")

Dijite el valor de consumo del agua:  6
Su Tarifa es: $ 6

In [ ]:
#Desarrolle la tabla de meses acumulados a n meses. Si puede encontrar la formula matemática para evitar ciclos.

def Acumulacion(mes):
  n = mes
  acumulado = n * (n+1) /2
  resultado = acumulado
  print("**MES** ",n, "\n**ACUMULADO** ", resultado)

mes = int(input("Ingrese los meses a pagar: "))

Acumulacion(mes)

Ingrese los meses a pagar: 10
**MES**  10
**ACUMULADO**  55.0

In [ ]:
#Conversores:

def covertir(conversor,de,a,cantidad):
  return valores[conversor][a]/valores[conversor][de]*cantidad

In [ ]:
etiquetas = [
[],
  ["Seleccione una divisa", "1.dolares","2.quetazles","3.lempiras","4.cordobas","5.pesos cr",
    "6.euros","7.colon sv","8.yenes","9.soles peruanos","10.pesos colombianos"],#Divisas

  ["Seleccione una opcion", "1.Metros", "2.Milimetros", "3.Centiemtros", "4.pie",
    "5.Varas", "6.Yardas", "7.Km", "8.Millas","9.Decimentro","10.Nanometro"],#Longiudes

  ["Seleccione la opcion", "1.Gigabyte", "2.Megabyte", "3.Kilobyte","4.Terabyte","5.Petabyte",
    "6.Tebibyte","7.Pebibyte","8.Gibibyte","9.Mebibyte","10.Byte"],#Almacenamiento

  ["Seleccione la opcion", "1.Siglo","2.Decada","3.AñoNatural","4.Mes","5.Semana",
    "6.Dia","7.Hora","8.Minuto","9.Segundo","10.Milisegundo"],#Tiempo

  ["Seleccione la opcion", "1.Tonelada","2.Kilogramo","3.Gramo","4.Centrigramo","5.Miligramo",
    "6.Microgramo","7.Tonelada Corta","8.Stone","9.Libra","10.Onza"],#Masa

  ["Seleccione la opcion", "1.Metro Cubico", "2.Litro","3.Mililitro","4.Galon Imperial","5.Cuarto Imperial",
    "6.Pinta Imperial","7.Taza Imperial","8.Onza Liquida Imperial","9.Cucharada Imperial","10.Cucharadita Imperial"],#Volumen

  ["Seleccione la opcion", "1.Kilimetro Cuadrado","2.Metro Cuadrado","3.Milla Cuadrada","4.Yarda Cuadrada","5.Pie Cuadrado",
    "6.Pulgada Cuadrada","7.Hectarea","8.Acre","9.Tareas","10.Manzanas"]#Area,Manzanas,Tareas
]

valores = [
    [],
    [0,1,7.71,24.51,35.77,664.64,0.98,8.71,134.13,3.84,4249.81],#Divisas
    [0,1,1000,100, 3.28084,1.120,1.0936133,0.001,0.000621371,10,1000000000],#Longitudes
    [0,1,1000, 1000000,1126,1024,9.0949e-13,1.126,1.049e+6,1.074e+9,1.126e+15],#Almacenamiento
    [0,1,10,100,1200,5214,36500,876000,5.256e+7,3.154e+9,3.154e+12],#tiempo
    [0,1,1000,1e+6,1e+8,1e+9,1e+12,1.102,157.5,22005,35270],#Masa
    [0,1,1000,1e+6,220,879.9,1760,3520,35200,56310,168900],#Volumen
    [0,1,1e+6,0.3861,1.1196e+6,1.076e+7,1.55e+9,100,247.1,1590.3307888,141.7]#Area,Manzanas,Tareas
]

In [ ]:
print("**MENU DE CONVERSIONES**")
print("1.Divisas")
print("2.Longitud")
print("3.Almacenamiento")
print("4.Tiempo")
print("5.Masa")
print("6.Volumen")
print("7.Area\n")

opcion = int(input("Conversor: "))
print("CONVERSOR ELEGIDO: ", etiquetas[opcion])
de = int(input("DE: "))
a = int(input("A: "))
cantidad = int(input("Cantidad: "))
print("Conversion de ", etiquetas[opcion][de], " a ", etiquetas[opcion][a], " equivale a ", covertir(opcion,de,a,cantidad))

**MENU DE CONVERSIONES**
1.Divisas
2.Longitud
3.Almacenamiento
4.Tiempo
5.Masa
6.Volumen
7.Area

Conversor: 4
CONVERSOR ELEGIDO:  ['Seleccione la opcion', '1.Siglo', '2.Decada', '3.AñoNatural', '4.Mes', '5.Semana', '6.Dia', '7.Hora', '8.Minuto', '9.Segundo', '10.Milisegundo']
DE: 1
A: 2
Cantidad: 2
Conversion de  1.Siglo  a  2.Decada  equivale a  20.0

In [ ]:
#*Realizar un conversor propio, donde espesifique el valor de conversión: 
# 1 caja -> 25 unidad. Viceversa 80 unidades – 3/5 -> cajas/unidades
# 1 saco -> 50 libras. Viceversa 130 libras – 2/30 -> sacos/libras
# 1 fardo -> 5 unidades. Viceversa 28 unidades – 5/3 -> fardos/unidades

def convertir(opcion,de, a, cantidad):
  return valor[opcion][a] / valor[opcion][de] * cantidad

conversor_p = [

  [],

  ["seleccione uno a convertir", "1. Unidades","2. cajas"],

  ["Selecione uno a convertir""3. Saco","4. Libra"],

  ["Seleccione uno a convertir" "5. Fardo", "2. Unidades"]

]

valor = [

  [],

  [0,1,25],

  [0,1,50],

  [0,1,5]

]

print("Menu")

print("1. CAJAS/UNIUDADES")

print("2. SACO/LIBRAS")

print("3. FARDO/UNIDADES")

opcion = int(input("OPCION: "))

de = int(input("DE: "))

a = int(input("A:"))

cantidad = float(input("cantidad: "))



print(conversor_p[opcion][de], "a", valor[opcion][a], "es:", convertir(opcion,de,a,cantidad))

FIN DE ACTIVIDAD

ESTRUCTURAS DE CONTROL

In [ ]:
#IF CONDICIONAL SI

edad = int(input("Dime tu edad: "))

if edad <=2:
  print("Eres un bebe")
elif edad <12:
  print("Edad de un niño")
elif edad <18:
  print("Eres un adolesente")
elif (edad<65):
  print("Eres mayor de edad, tienes responsabilidades")
elif edad < 80:
  print("Eres un adulto mayor")
else:
  print("Larga vida")

Dime tu edad: 18
Eres mayor de edad, tienes responsabilidades

In [ ]:
#Ciclo, while y for
#obtenga la tabla de multiplicar de x numero dada por el usuario

#WHILE
ntabla = int(input("Tabla: "))
i = 1
while i <= 10:
  print(ntabla, "x", i, "=", ntabla*i)
  i+=1

Tabla: 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [ ]:
#FOR
ntabla = int(input("Tabla: "))
for i in range(1,11):
  print(ntabla, "x", i, "=", ntabla*i)

Tabla: 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

In [ ]:
#Hacer un programa en python que genera la tabla de multiplicar dada por el usuario, hasta que el usuario decida salir
s = "s"
while s=="s":
  ntabla = int(input("Tabla: "))
  for i in range(1,11):
    print(ntabla, "x", i, "=", ntabla*i)
  s = input("Continuar s, cualquier otra tecla para salir ")

Tabla: 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
Continuar s, cualquier otra tecla para salirj